
DATABASE_URL=""
PORT=
HOST=""
CRYPTO_KEY=""
ALGORITMO=""
JWT_KEY=""
JWT_EXPIRES_IN=""
API_KEY_CLARIFAI=""
API_SECRET_CLOUDINARY=""
API_KEY_CLOUDINARY=""
INFOBIP_API_KEY=""
API_URL_BASE_INFOBIP=""
API_KEY_RESEND=""
EMAIL_FROM=""